@import "tailwindcss";
@import './_variables.scss';
@import './_keyframe-animations.scss';

@theme {
  --color-bg-primary: oklch(95% 0.04 260);
  --color-bg-secondary: oklch(90% 0.03 260);

  --color-text-primary: oklch(20% 0.07 260);
  --color-text-secondary: oklch(40% 0.05 260);
  --color-text-muted: oklch(60% 0.02 260);

  --color-accent-primary:oklch(74.095% 0.09053 252.09);
  --color-accent-hover: oklch(0.623 0.274 259.89);

  --color-border: oklch(80% 0.02 260);

  --color-shadow: oklch(0% 0 0 / 0.1);
}

[data-theme="dark"] {
  --color-bg-primary: oklch(15% 0.04 260);
  --color-bg-secondary: oklch(10% 0.03 260);

  --color-text-primary: oklch(94.937% 0.02422 259.882);
  --color-text-secondary: oklch(60% 0.05 260);
  --color-text-muted: oklch(40% 0.02 260);

  --color-accent-primary: oklch(0.623 0.274 259.89);
  --color-accent-hover: oklch(74.095% 0.09053 252.09);

  --color-border: oklch(20% 0.02 260);

  --color-shadow: oklch(0% 0 0 / 0.6);
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair', serif;
  font-weight: 700;
  color: var(--color-text-primary);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}
 h2 {
  font-size: 1.6rem;
  line-height: 1.2;
 }
html, body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
    overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.editor::selection {
  background-color: var(--color-accent-hover);
  color: var(--color-bg-primary);
}

.editor h1 {
font-size: 2rem;
line-height: 1.2;
font-weight: 700;

}

.editor h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
}

.editor:empty:before {
  content: attr(data-placeholder);
  color: gray;
  pointer-events: none; 
}

.tiptap{
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  border: 1px solid var(--color-text-muted);
  width: 100%;
}

.tiptap p.is-empty::before {
  color: var(--color-text-muted);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.editor p {
  width: 100%;
}

.ProseMirror code {
  display: block;
  background-color: black;
  color: aliceblue;
  padding: 8px 12px;
  font-family: monospace;
  width: 100%;
  box-sizing: border-box; 
}

.ProseMirror li {
  list-style: disc;
  margin-left: 32px;
}
.ProseMirror a {
  color: var(--color-text-secondary);
  font-weight: 800;
  text-decoration: underline;
}

.ProseMirror a:hover{
  color: var(--color-text-primary);
}

.ProseMirror blockquote {
  position: relative;
  border-left: 3px solid #3b82f6; 
  padding-left: 1.25rem;
  margin: 1rem 0;
  color: var(--color-text-secondary);
  font-style: italic;
}

.ProseMirror blockquote::before {
  content: "“";
  position: absolute;
  left: -0.75rem;
  top: -0.25rem;
  font-size: 2rem;
  color: #3b82f6;
}

.ProseMirror div[data-youtube-video] {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

