---
import FloatingInput from "../components/FloatingInput.astro";
import FloatingTextArea from "../components/FloatingTextArea.astro";
import Layout from "../layouts/Layout.astro";
import { Loader } from "@lucide/astro";
import EditorPage from "../components/Editor.js";
import { supabase } from "@/lib/supabase";
import ThumbnailUploader from "@/components/ThumbnailUploader";

const url = Astro.url.searchParams.get("id");
const { data: userData, error: userError } = await supabase.auth.getUser();
const userId = userData.user?.id;
let title: string = '';
let desc : string = '';
let thumb : string| null = null;
let content : JSON | null = null;


if (!userId) {
  return Astro.redirect("/");
}

if (!url) {
  console.log(userId);
  const { data, error } = await supabase
    .from("draft")
    .insert({ updated_at: new Date().toISOString(), author: userId })
    .select("id");

  if (error) {
    console.error(error);
  }

  if (data && data.length > 0) {
    const id = data[0].id;
    return Astro.redirect(`/editor?id=${id}`);
  }
} else {
  const {data,error} = await supabase.from('draft').select('*').eq('id', url)
  title = data && data.length > 0 ? data[0].title : '';
  desc = data && data.length > 0 ? data[0].desc : '';
  thumb = data && data.length > 0 ? data[0].thumb : null;
  content = data && data.length > 0 ? JSON.parse(data[0].content_json) : null;
}
---

<Layout>
  <div class="lg:max-w-screen-lg mx-auto overflow-hidden overflow-x-hidden">
    <h1 class="text-2xl md:text-4xl font-bold p-2">Editor Page</h1>
    <p class="text-sm text-text-secondary p-2">
      This is the editor page where you can create and edit content.
    </p>
    <ThumbnailUploader client:only initialUrl={thumb} />
    <div>
    <FloatingInput id="title" label="Title" type="text" value={title ? title : ''} />

    <FloatingTextArea id="desc" label="Description" rows="4" value={desc ? desc : ''}/>
    </div>

    <EditorPage client:only savedContent={content} />
    <div class="flex justify-end">
      <button
      id="smtbtn"
        class="bg-accent-primary hover:bg-accent-hover cursor-pointer m-2 text-text-primary mt-4 px-8 py-2 rounded-xl"
      >
        <p>Submit</p>
        <p class="animate-spin hidden"><Loader /></p>
      </button>
    </div>
  </div>
  <script>
import aiClient from "@/lib/aiClient";
import autoSave from "@/lib/blogs/autosave";
import { getSearchParam } from "@/lib/blogs/getParams";
import { slugify } from "@/lib/blogs/slug";

    const title = document.getElementById('title') as HTMLInputElement;
    const desc = document.getElementById('desc') as HTMLTextAreaElement;
    const btn = document.getElementById('smtbtn') as HTMLButtonElement;

    title.addEventListener('input',() =>{
      const id = getSearchParam('id')
      autoSave(id, { title : title.value,slug : slugify(title.value) });
    })

    desc.addEventListener('input',() =>{
      const id = getSearchParam('id')
      autoSave(id, { desc : desc.value });
    })
</script>
</Layout>
