---
import FAQ from '@/components/home/FAQ.astro';
import Featured from '@/components/home/Featured.astro';
import Latest from '@/components/home/Latest.astro';
import TopStories from '@/components/home/TopStories.astro';
import HomeLayout from '@/layouts/HomeLayout.astro';
---

<HomeLayout title="Tech Insights Blog" description="Explore articles, tutorials, and insights in modern web development.">
  <section class="relative px-2 md:px-6 lg:px-14 text-center overflow-hidden">
   <Featured/>
   <TopStories/>
   <Latest/>
  </section>

  <FAQ />
</section>

</HomeLayout>