---
import FAQ from '@/components/home/FAQ.astro';
import Featured from '@/components/home/Featured.astro';
import Latest from '@/components/home/Latest.astro';
import TopStories from '@/components/home/TopStories.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Tech Insights Blog" description="Explore articles, tutorials, and insights in modern web development.">
  <section class="relative px-2 md:px-6 lg:px-14 text-center overflow-hidden">
   <Featured/>
   <TopStories/>
   <Latest/>
  </section>

  <FAQ />
</section>

</Layout>

<style>
  @keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-slideInUp {
    animation: slideInUp 0.8s ease-out forwards;
  }
  .delay-150 {
    animation-delay: 150ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
</style>