---
import {AlignLeft,AlignCenter,AlignRight,Bold,Italic,Underline,Strikethrough,Code, Heading1,Heading2,Link,Image,TvMinimalPlay} from "@lucide/astro"
---

<div class="flex p-2 justify-around h-auto gap-2 items-center rounded-t-2xl bg-text-primary w-full text-bg-primary flex-wrap">
    <Heading1 class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
    <Heading2 class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<AlignLeft class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<AlignCenter class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<AlignRight class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<Bold class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<Italic class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<Underline class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<Strikethrough class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<Link class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<Image class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<TvMinimalPlay class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
<Code class="hover:bg-accent-hover/30 active:bg-accent-hover active:text-text-primary rounded-full p-2 h-10 w-10"/>
</div>