---
import ListArticle from "@/components/articles/ListArticle.astro";
import OptimizedImage from "@/components/home/OptimizedImage.astro";
import Layout from "@/layouts/Layout.astro";
import { supabase } from "@/lib/supabase";
import { Share, ThumbsDown, ThumbsUp } from "@lucide/astro";

const slug = Astro.params.slug;
const category = Astro.params.category;
const now = new Date().toISOString();

const { data: post, error } = await supabase
  .from("draft")
  .select("*")
  .eq("slug", slug)
  .eq("category", category)
  .eq("status", "public")
  .or(`schedule.lte.${now},schedule.is.null`)

if (error || post.length == null || post.length === 0) {
  return Astro.redirect("/404");
}
---

<Layout title={post[0]?.title || "Post"} keywords={post[0]?.keywords || post[0]?.slug} desc={post[0]?.desc || "Blog post"}>
  <div class="max-w-screen-md mx-auto min-h-screen space-y-6">
    {error && (
      <div class="p-4 border border-red-300 bg-red-50 text-red-700 rounded">
        <p class="font-medium">Error loading post</p>
        <p class="text-sm">{error}</p>
      </div>
    )}

    {post && (

      <OptimizedImage src={post[0]?.thumb}  alt="thumbnail" class="aspect-video md:rounded-lg object-cover" />
            
      <article class="prose prose-p:leading-relaxed prose-video:aspect-video prose-img:rounded-lg prose-headings:text-text-primary prose-p:text-text-primary prose-a:text-accent-hover prose-a:underline prose-strong:text-text-primary flex flex-col prose-lg max-w-none prose-blue">
        <div class="flex p-2 flex-wrap justify-between items-center">
        <p class="text-xs text-text-secondary">
                {post[0]?.schedule
                  ? new Date(post[0]?.schedule).toLocaleString(undefined, {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
      
                    })
                  : new Date(post[0]?.created_at).toLocaleString(undefined, {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
    
                    })}
              </p>
              <div class="flex justify-evenly gap-4">
                <button class="cursor-pointer hover:bg-text-primary hover:text-bg-primary rounded-full p-2"><ThumbsUp/></button>
                <button class="cursor-pointer hover:bg-text-primary hover:text-bg-primary rounded-full p-2"><ThumbsDown/></button>
                <button class="cursor-pointer hover:bg-text-primary hover:text-bg-primary rounded-full p-2"><Share/></button>

              </div>
              </div>
        <div class="mt-4 p-2" set:html={post[0]?.content_html}></div>
      </article>
    )}

    <ListArticle/>
  </div>
</Layout>

<script>
  const frame = document.querySelector("iframe");
  frame?.setAttribute("width", "100%");
  frame?.setAttribute("height", "100%");
  frame?.setAttribute("style", "aspect-ratio:16/9");
</script>