h
import '../styles/global.css' 
import TopBar from '../components/TopBar.astro'; 

---
<!doctype html>
<html lang="en" class="bg-bg-primary text-text-primary">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Blogs</title>
	</head>
	<body>
		<TopBar/>
		<slot />
	</body>
</html>

